fastapi
uvicorn
sqlalchemy>=2.0,<2.1
alembic>=1.13,<1.14
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
httpx
pytest
pytest-asyncio
python-multipart
cachetools
